<h1>About</h1>

<P>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、<br>
様々なバリエーションをご用意しております。</p><br>
<div style="text-align: center">
    <%= image_tag 'ケーキ屋About1.jpg', size: "800x300" %>
</div>
<p>また、全国へ発送化のですので「いつ」でも「どこ」でもご注文いただけます。<br>
<P>ぜひご注文ください。</P>

